.apresentation-sensei {
  background: white;
  border: 0.2rem solid rgba(0, 0, 0, 0.438);
  border-radius: 0.8rem;
  width: 75%;
  margin: 22rem auto 0;
}

.apresentation-sensei article {
  width: 90%;
  margin: 2rem auto;
}

.apresentation-sensei article header {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.apresentation-sensei header img {
  width: 11rem;
  border: 0;
  border-radius: 50%;
}

.apresentation-sensei-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
}

.apresentation-sensei-bio strong {
  font: 700 2.8rem "Encode Sans";
  color: var(--color-title-sensei);
}

.apresentation-sensei-bio span {
  font: 300 1.6rem/1.8rem "Encode Sans";
  color: rgba(0, 0, 0, 0.753);
}

/* main {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

.main-article-sensei {
  margin: 0 0 2.2rem 3.4rem;
}

.main-article-sensei h2 {
  font: 800 3.6rem "Poppins";
  color: var(--color-title);
  margin-left: 2rem;
}

.main-article-sensei p {
  font: 400 1.8rem/2.4rem "Poppins";
  color: rgba(0, 0, 0, 0.753);
}

.main-article-sensei img {
  width: 2.5%;
}

.separator-sensei {
  content: "";
  height: 0.1rem;
  width: 100%;
  background: #a8a8b3;
  margin: 1.6rem auto 3rem;
}

.apresentation-sensei footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.information-sensei {
  margin-top: 1.6rem;
}

.information-sensei li {
  list-style-type: none;
}

.information-sensei .information-sensei-flex {
  text-decoration: none;

  display: flex;
  align-items: center;
}

.information-sensei .information-sensei-flex span {
  font: 400 1.8rem "Roboto";
  align-self: center;
  color: #486173;
}

.information-sensei .information-sensei-flex img {
  width: 3.6rem;
  height: 3.6rem;
  margin-right: 0.6rem;
  margin-bottom: 0.8rem;
}

.relationship-sensei a:first-child {
  margin-right: 1rem;
}

.relationship-sensei a {
  font: 400 1.6rem "Encode Sans";
  color: var(--color-title);
}

.relationship-sensei a strong {
  margin-right: 0.2rem;
  font: 700 1.8rem "Encode Sans";
  color: var(--color-title);
}

.relationship-sensei img {
  width: 2rem;
  align-self: center;
  margin-right: 0.4rem;
}

footer button {
  background: var(--color-button);
  border: 0;
  border-radius: 0.8rem;

  cursor: pointer;
  color: white;

  width: 18rem;
  height: 5rem;

  font: 700 1.8rem/2.2rem "Encode Sans";
}

@media (min-width: 900px) {
  .relationship-sensei {
    margin-left: 3rem;
  }

  footer button {
    width: 20rem;
    height: 6rem;
    margin-right: 3rem;
  }
}
