.logo-icon {
  transition: all 1.6s;
}

.logo-icon img {
  width: 8rem;
  height: 8rem;
}

.logo-icon:hover {
  opacity: 0.6;
}

@media (max-width: 699px) {
  .logo-icon img {
    width: 12rem;
    height: 12rem;
  }
}

@media (min-width: 1100px) {
  .header-content,
  .header-login {
    grid-area: header;
    margin-bottom: auto;
  }
}
