.top-bar-container {
  width: 90vw;
  height: 0rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 1.6rem 0;
}

.header-perfil-content {
  display: flex;

  flex-direction: column;
  align-items: center;

  text-decoration: none;

  font: 400 1.8rem/1.6rem "Poppins";

  color: var(--color-name-perfil);
}

.header-perfil-content img {
  height: 6rem;
  border-radius: 50%;
  border: 0.5rem solid var(--color-border-perfil);
  margin-top: 1.5rem;
}

.header-perfil-content p {
  margin-top: 0.5rem;
  text-align: center;
  font: 400 1.2rem/1rem "Poppins";
  width: 11rem;
}

/* ========== media queries*/
@media (min-width: 700px) {
  .top-bar-container {
    max-width: 1100px;
  }
}
