.top-bar-container {
  width: 90vw;
  height: 0rem;

  margin: 0 auto;
  padding: 1.6rem 0;
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-bar-container a {
  height: 1.6rem;
  transition: all 1.6s;
}

.top-bar-container a:hover {
  opacity: 0.4;
}

.menu-container {
  margin-top: 21.5rem;
  border: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-container button {
  border: 0;
  background: transparent;
  cursor: pointer;
  transition: all 1.6s;
}

.menu-container button:hover {
  opacity: 0.4;
}

.menu-container .header-perfil-content img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 0.3rem solid var(--color-border-perfil);
  margin-top: 1.2rem;
}

.menu-container .nav-content {
  border: 0.2rem solid var(--color-input-border);
  border-radius: 0.8rem;
  background: var(--color-input-background);
}

.menu-container .nav-content li {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  padding: 1.2rem 2.4rem 1.2rem 1.2rem;
  list-style: none;

  border-bottom: 0.2rem solid var(--color-input-border);
}
.menu-container .nav-content li:last-child {
  border-bottom: 0rem;
}

.menu-container .nav-content li a {
  text-decoration: none;

  text-align: center;
  font: 500 1.4rem "Roboto";
  color: gray;
}

.menu-container .nav-content li img {
  width: 2rem;
  margin-right: 2.6rem;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu {
  opacity: 0;
}

/* ========== media queries*/

@media (max-width: 700px) {
  .menu-container .header-perfil-content img {
    width: 7rem;
    height: 7rem;
    margin-top: 5.5rem;
  }
}

@media (min-width: 700px) {
  .top-bar-container {
    max-width: 1100px;
  }
}
